# PERSONAS QUE GANAN MÁS DE 50K.

Interrogantes generales a responder:
- Quiénes son?
- Qué perfil tienen?
- Si el departamento de lavado de activos quiere predecir qué personas ganan más de 50k, qué modelo le recomendaría?

DataSet: https://archive.ics.uci.edu/ml/datasets/adult

Hola equipo de data scientist! Somos el equipo de lavado de activos de la Corpotación financiera Nacional. Necesitamos su ayuda para respondera las siguientes interrogantes:

1.

Usa el siguite código como ayuda

In [19]:
# importa las librerias necesarias
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns
import imblearn


from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split

from sklearn import metrics

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
 
from pylab import rcParams

ModuleNotFoundError: No module named 'imblearn'

In [20]:
conda install -c conda-forge imbalanced-learn

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda3

  added / updated specs:
    - imbalanced-learn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.11.0               |   py38h50d1736_1         994 KB  conda-forge
    imbalanced-learn-0.7.0     |             py_1          97 KB  conda-forge
    python_abi-3.8             |           2_cp38           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         1.1 MB

The following NEW packages will be INSTALLED:

  imbalanced-learn   conda-forge/noarch::imbalanced-learn-0.7.0-py_1
  python_abi         conda-forge/osx-64::python_abi-3.8-2_cp38

The following packages will be UPDATED:

  conda                        anaconda::conda-4.9.0-py38_0 --> conda-forge::conda-4.11.0-py38h50d1736_1



Downloading and Extracting Packages
imbalanced-learn-0.7 | 97 KB     | ##################################### | 100%
python_abi-3.8       | 4 KB      | ##################################### | 100%
conda-4.11.0         | 994 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [21]:
from imblearn.under_sampling import NearMiss
from imblearn.over_sampling import RandomOverSampler
from imblearn.combine import SMOTETomek
from imblearn.ensemble import BalancedBaggingClassifier

In [8]:
# lee la base de datos: hit: El separador es ", " y NO TIENE CABECERA

df = pd.read_csv('adult.data', names=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','target'])
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
pd.unique(df['target'])

array([' <=50K', ' >50K'], dtype=object)

In [16]:
# declara tu variable dependiente>
# Tomara los valores de 0 si es <=50k, 1 caso contrario

df['target_d'] = pd.get_dummies(df['target'])
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target,target_d
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,1
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,1
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,0
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,1
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,1
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,0

In [17]:
# tu data es balanceada? si no lo es qué recomendaciones tienes? hit: investiga sobre bases de datos no balanceadas

df['target_d'].value_counts()

1    24720
0     7841
Name: target_d, dtype: int64

In [ ]:
# Resuelve el problema de desbalanceo, elige y justifica tu respuesta de la decisión.

In [ ]:
# Crea una variable que indique si trabajaste menos de 40 horas

In [ ]:
# calcula la utilidad del capita: capital ganado-capital perdido

In [ ]:
# si es mujer, coloca el valor de 1

In [ ]:
# si nació en USA será 1, 0 caso contrario

In [ ]:
# puedes crear más variables?

## MODEL

In [ ]:
# Declara X y Y

In [ ]:
# en una sola vista, muesta las dimensiones de X, Y y del total dela base

In [ ]:
# divide entre entrenamiento y testeo

In [ ]:
# ejecuta los modelos indicados

In [ ]:
# cual es el mejor modelo?