

# SQL Exercises

## Elaborado por: Martín Ordóñez

In [2]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [8]:
df_school = pd.read_csv('/Users/matin/Library/Mobile Documents/com~apple~CloudDocs/Coding Dojo Python/SQL basic/School_Details.csv')
# make sure it loaded correctly
df_school.head(2)

,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,ConstituencyName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,Rhenock,...,28126,58.0,8.0,16.0,Recognized,HRDD,NaN,Class 1,Class 5,NaN
1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,West Pandam,...,15342,50.0,0.0,6.0,Recognized,HRDD,NaN,Class 1,Class 12,C.B.S.E.

In [9]:
# load table 2
facility = pd.read_csv('/Users/matin/Library/Mobile Documents/com~apple~CloudDocs/Coding Dojo Python/SQL basic/School_Facility_Details.csv')
facility.head(2)

,EstablishmentCode,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available

In [10]:
# create sqlite engine
engine = create_engine('sqlite:///school.db', echo=True)
# create connection to engine
conn = engine.connect()

2022-04-03 11:05:42,737 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2022-04-03 11:05:42,739 INFO sqlalchemy.engine.base.Engine ()
2022-04-03 11:05:42,742 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2022-04-03 11:05:42,743 INFO sqlalchemy.engine.base.Engine ()

In [11]:
# add the dataframe as a table in sqlite
sqlite_table = "school_details"
df_school.to_sql(sqlite_table, conn, if_exists='fail')

sqlite_table2 = "school_facility_details"
facility.to_sql(sqlite_table2, conn, if_exists='fail')

2022-04-03 11:06:05,539 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("school_details")
2022-04-03 11:06:05,540 INFO sqlalchemy.engine.base.Engine ()
2022-04-03 11:06:05,543 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("school_details")
2022-04-03 11:06:05,544 INFO sqlalchemy.engine.base.Engine ()
2022-04-03 11:06:05,554 INFO sqlalchemy.engine.base.Engine
CREATE TABLE school_details (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2022-04-03 11:06:05,556 INFO sqlalchemy.engine.base.Engine ()
2022-04-03 11:06:05,561 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-03 11:06:05,563 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_school_details_index ON school_details ("index")
2022-04-03 11:06:05,565 INFO sqlalchemy.engine.base.Engine ()
2022-04-03 11:06:05,569 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-03 11:06:05,586 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-04-03 11:06:05,655 INFO sqlalchemy.engine.base.Engine INSERT INTO school_details ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-04-03 11:06:05,656 INFO sqlalchemy.engine.base.Engine ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2022-04-03 11:06:05,677 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-03 11:06:05,688 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("school_facility_details")
2022-04-03 11:06:05,689 INFO sqlalchemy.engine.base.Engine ()
2022-04-03 11:06:05,691 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("school_facility_details")
2022-04-03 11:06:05,692 INFO sqlalchemy.engine.base.Engine ()
2022-04-03 11:06:05,696 INFO sqlalchemy.engine.base.Engine
CREATE TABLE school_facility_details (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)


2022-04-03 11:06:05,697 INFO sqlalchemy.engine.base.Engine ()
2022-04-03 11:06:05,702 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-03 11:06:05,704 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_school_facility_details_index ON school_facility_details ("index")
2022-04-03 11:06:05,705 INFO sqlalchemy.engine.base.Engine ()
2022-04-03 11:06:05,709 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-03 11:06:05,712 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-04-03 11:06:05,740 INFO sqlalchemy.engine.base.Engine INSERT INTO school_facility_details ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-04-03 11:06:05,741 INFO sqlalchemy.engine.base.Engine ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))
2022-04-03 11:06:05,752 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
# Write your SQL query in this string
sql = """
SELECT AVG('BACDistance (in Km)') avg_bac_distance
FROM school_details
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2022-04-03 11:06:09,786 INFO sqlalchemy.engine.base.Engine
SELECT AVG('BACDistance (in Km)') avg_bac_distance
FROM school_details

2022-04-03 11:06:09,788 INFO sqlalchemy.engine.base.Engine ()

   avg_bac_distance
0               0.0

In [13]:
# Write your SQL query in this string
sql = """
SELECT  AVG('BACDistance (in Km)') avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2022-04-03 11:06:12,470 INFO sqlalchemy.engine.base.Engine
SELECT  AVG('BACDistance (in Km)') avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC

2022-04-03 11:06:12,471 INFO sqlalchemy.engine.base.Engine ()

   avg_bac_distance
0               0.0
1               0.0
2               0.0
3               0.0
4               0.0

In [14]:
# Write your SQL query in this string
sql = """
SELECT  AVG('BACDistance (in Km)') avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2022-04-03 11:06:32,462 INFO sqlalchemy.engine.base.Engine
SELECT  AVG('BACDistance (in Km)') avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC

2022-04-03 11:06:32,464 INFO sqlalchemy.engine.base.Engine ()

Empty DataFrame
Columns: [avg_bac_distance]
Index: []

In [15]:
# Write your SQL query in this string
sql = """
SELECT *
FROM school_details s, school_facility_details f
WHERE s."EstablishmentCode" = f."EstablishmentCode"
LIMIT 2
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2022-04-03 11:06:38,463 INFO sqlalchemy.engine.base.Engine
SELECT *
FROM school_details s, school_facility_details f
WHERE s."EstablishmentCode" = f."EstablishmentCode"
LIMIT 2

2022-04-03 11:06:38,465 INFO sqlalchemy.engine.base.Engine ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Available,100,Available,2,Available,Available,1,Not Available,Not Available
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Available,0,Available,5,Available,Available,2,Not Available,Available

In [16]:
# Write your SQL query in this string
sql = """
SELECT s.EstablishmentName
FROM school_details s, school_facility_details f
WHERE s."EstablishmentCode" = f."EstablishmentCode" AND SchoolLevel='PS' AND IsLibraryAvailable='Not Available'
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2022-04-03 11:06:44,858 INFO sqlalchemy.engine.base.Engine
SELECT s.EstablishmentName
FROM school_details s, school_facility_details f
WHERE s."EstablishmentCode" = f."EstablishmentCode" AND SchoolLevel='PS' AND IsLibraryAvailable='Not Available'

2022-04-03 11:06:44,861 INFO sqlalchemy.engine.base.Engine ()

                        EstablishmentName
0        EASWARAMMA SAI GURUKOOL ACCADEMY
1     NEW GARDEN BOARDING SCHOOL (SAJONG)
2     SARASWATI SHISHU VIDHYALAYA, BUDANG
3        SAWNEY GOVERNMENT PRIMARY SCHOOL
4  UPPER PACHAK GOVERNMENT PRIMARY SCHOOL

In [17]:
# Write your SQL query in this string
sql = """
SELECT s.EstablishmentName
FROM school_details s, school_facility_details f
WHERE s."EstablishmentCode" = f."EstablishmentCode" AND SchoolLevel='PS' AND IsLibraryAvailable='Not Available'
ORDER BY s.EstablishmentName
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2022-04-03 11:06:49,288 INFO sqlalchemy.engine.base.Engine
SELECT s.EstablishmentName
FROM school_details s, school_facility_details f
WHERE s."EstablishmentCode" = f."EstablishmentCode" AND SchoolLevel='PS' AND IsLibraryAvailable='Not Available'
ORDER BY s.EstablishmentName

2022-04-03 11:06:49,290 INFO sqlalchemy.engine.base.Engine ()

                                   EstablishmentName
0  (I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...
1                10TH MILE GOVERNMENT PRIMARY SCHOOL
2                  AAPGAZI GOVERNMENT PRIMARY SCHOOL
3                AARUBOTEY GOVERNMENT PRIMARY SCHOOL
4              AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL

In [18]:
# Close the database connection
conn.close()